
body {
    background-color: darken(#444444, 10%);
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
}

div {
    border: 1px solid #ffffff;
}
